*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}
.loader-container{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loader{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}
.loader span{
    width: 100px;
    height: 100px;
    background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(to right, #FF5b3e, #9932cc, #FF2525) border-box;
border-radius: 50em;
border: 15px solid transparent;
    background-repeat: no-repeat;
    animation: animate 1s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
